In [1]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

%matplotlib inline
%run function.ipynb

df = pd.read_csv('clean8.csv')
df_copy = df.copy()
print(df_copy.shape)
df_copy.head(3)

(855794, 54)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,ApprovalDate,Term,NoEmp,...,USDPerJobCreated,loan_marturity_date,Is_Cross_State,Appv_Dusburse_delta,Default%,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,1997-02-28,84.0,4.0,...,NaN,2004-02-28,1,730.0,NaN,0.0,0.0,0.0,0.0,0.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,1997-02-28,60.0,2.0,...,NaN,2002-02-28,0,92.0,NaN,0.0,0.0,0.0,0.0,0.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,1997-02-28,180.0,7.0,...,NaN,2012-02-28,0,306.0,NaN,0.0,0.0,0.0,0.0,0.0

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
df_copy = df_copy[(df_copy['DisbursementDate_year'] >= 2000) & (df_copy['DisbursementDate_year'] <= 2010)]
print(df_copy.shape)
df_copy.head(3)

(530453, 54)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,ApprovalDate,Term,NoEmp,...,USDPerJobCreated,loan_marturity_date,Is_Cross_State,Appv_Dusburse_delta,Default%,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710
12,1000146010,CARVEL,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,2006-02-07,162.000,2.000,...,NaN,2019-08-07,1,52.000,NaN,0.000,0.000,0.000,0.000,0.000
24,1000446006,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,2006-02-07,126.000,7.000,...,NaN,2016-08-07,1,82.000,NaN,0.000,0.000,0.000,0.000,1.000
28,1000506000,WEYLAND CORPORATION,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,2006-02-07,83.000,18.000,...,106321.347,2013-01-07,1,21.000,NaN,0.000,0.000,0.000,0.000,0.000

In [4]:
df_copy['DisbursePerMonth'] = df_copy['DisbursementGross'] / df_copy['Term']
df_copy['BankLoss'] = df_copy['ChgOffPrinGr'] - df_copy['SBA_Appv']
df_copy.loc[list(df_copy[df_copy['BankLoss'] < 0].index), 'BankLoss'] = 0
df_copy['BankLoss%'] = df_copy['BankLoss'] / df_copy['DisbursementGross'] * 100
df_copy['Job'] = df_copy['CreateJob'] + df_copy['RetainedJob']

In [5]:
df_copy['SBALoss'] = df_copy['ChgOffPrinGr'] - df_copy['BankLoss']

In [6]:
obj_features = ['State', 'BankState', 'NewExist', 'Bank', 'IsFranchised', 'UrbanRural', 'RevLineCr', 'LowDoc', 'Industry',
                'ApprovalDate_year', 'ApprovalDate_month', 'DisbursementDate_year', 'DisbursementDate_month', 'State_division', 'RealEstate',
                'GreatRecession', 'DotCom', 'Recession', 'Mon_Is_14710', 'Is_Cross_State']
num_features = ['Default', 'ChgOffPrinGr', 'Term', 'DisbursementGross', 'Bank%', 'DisbursePerEmployee', 'BankLoss', 'BankLoss%', 'Job',
                'USDPerJobCreated','NoEmp', 'CreateJob', 'RetainedJob', 'Population', 'PopDensity', 'GrAppv', 'SBA_Appv', 'Default%',
                'HousingUnits', 'OccupiedHousingUnits', 'MedianHomeValue', 'MedianHouseholdIncome', 'Appv_Dusburse_delta', 'DisbursePerMonth', 'SBALoss']
time_cols = ['ApprovalDate_year', 'ApprovalDate_month', 'DisbursementDate_year', 'DisbursementDate_month']

df_groupby_mean = dict()
df_groupby_size = dict()
df_groupby_sum = dict()

for col in obj_features:
    df_groupby_mean[col] = df_copy.groupby(by=col).mean()[num_features]
    df_groupby_sum[col] = df_copy.groupby(by=col).sum()[num_features]
    df_groupby_size[col] = pd.DataFrame(df_copy.groupby(by=col).size())
    df_groupby_size[col].rename(columns={0: 'size'}, inplace=True)

In [7]:
display(df_copy.iloc[:3,:23])
display(df_copy.iloc[:3,23:])

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,ApprovalDate,Term,NoEmp,...,IsFranchised,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,Default,ChgOffPrinGr
12,1000146010,CARVEL,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,2006-02-07,162.000,2.000,...,1.000,1,0.000,0.000,NaN,2006-03-31,307175.719,0.000,0.000,NaN
24,1000446006,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,2006-02-07,126.000,7.000,...,0.000,1,0.000,0.000,NaN,2006-04-30,166437.357,0.000,0.000,NaN
28,1000506000,WEYLAND CORPORATION,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,2006-02-07,83.000,18.000,...,0.000,1,1.000,0.000,NaN,2006-02-28,531606.737,0.000,0.000,NaN

,GrAppv,SBA_Appv,Industry,ChgOffDate_year,ChgOffDate_month,ChgOffDate_day,DisbursementDate_year,DisbursementDate_month,DisbursementDate_day,ApprovalDate_year,...,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710,DisbursePerMonth,BankLoss,BankLoss%,Job,SBALoss
12,307175.719,230381.789,Retail_trade,NaN,NaN,NaN,2006.000,3.000,31.000,2006.000,...,0.000,0.000,0.000,0.000,0.000,1896.146,NaN,NaN,0.000,NaN
24,166437.357,141471.753,Accom/Food_serv,NaN,NaN,NaN,2006.000,4.000,30.000,2006.000,...,0.000,0.000,0.000,0.000,1.000,1320.931,NaN,NaN,0.000,NaN
28,121221.673,60610.836,Educational,NaN,NaN,NaN,2006.000,2.000,28.000,2006.000,...,0.000,0.000,0.000,0.000,0.000,6404.900,NaN,NaN,28.000,NaN

In [8]:
# num = 'Default'
# for i in range(len(obj_features)):
#     if df_copy[obj_features[i]].nunique() < 8:
#             plt.figure(figsize=(10, 10))
#     elif obj_features[i] == 'Industry':
#         plt.figure(figsize=(20, 15))
#         vis = df_groupby_mean[obj_features[i]].sort_values(by=num, ascending=False)
#         title = 'Mean Default by '+ obj_features[i]
#         plt.title(title)
#         sns.set_theme(style="darkgrid")
#         plt.grid(True)
#         sns.barplot(y=vis.index, x=vis[num])
#         plt.savefig(title + '.jpeg')
#         plt.show()
#         continue
#     else:
#         plt.figure(figsize=(20, 10))
#     vis = df_groupby_mean[obj_features[i]].sort_values(by=num, ascending=False)
#     title = 'Mean Default by '+ obj_features[i]
#     plt.title(title)
#     sns.set_theme(style="darkgrid")
#     plt.grid(True)
#     sns.barplot(x=vis.index, y=vis[num])
#     plt.savefig(title + '.jpeg')
#     plt.show()

In [9]:
# num_visualization_with_hue(df_copy, num_features, hue_col='Default', exclude_outlier=2.5)

In [10]:
# df_vis = df_copy.copy()
# hue_col = 'Default'

# for i in range(len(num_features)):
#     if num_features[i] in [hue_col, 'ChgOffPrinGr']:
#         continue

#     num_col = num_features[i]
#     vis = df_vis[[num_col, hue_col]]
#     vis = vis[~(pd.isnull(vis[num_features[i]]))]

#     upb = np.percentile(vis, 97.5)
#     lwb = np.percentile(vis, 2.5)
#     vis = vis[(vis[num_col] >= lwb) & (vis[num_col] <= upb)]

#     plt.figure(figsize=(20, 10))
#     sns.set_theme(style="darkgrid")
#     title = num_col + '_ecdf'
#     plt.title(title)
#     plt.hlines(y=0.5, xmin=vis[num_col].min(), xmax=vis[num_col].max(), colors='r', linestyles='dashed')
#     sns.set_palette(sns.color_palette("Set2"))
#     sns.ecdfplot(data=vis, x=num_col, hue='Default')
#     plt.savefig(title + '.jpeg')
#     plt.show()
#     df_vis = df_copy.copy()

In [11]:
# df_vis = df_copy.copy()
# hue_col = 'Default'
# db = ['DisbursementGross']

# for i in range(len(db)):
#     if db[i] in [hue_col, 'ChgOffPrinGr']:
#         continue

#     num_col = db[i]
#     vis = df_vis[[num_col, hue_col]]
#     vis = vis[~(pd.isnull(vis[db[i]]))]
    
#     upb = np.percentile(vis, 95)
#     lwb = np.percentile(vis, 5)
#     vis = vis[(vis[num_col] >= lwb) & (vis[num_col] <= upb)]
    
#     plt.figure(figsize=(20, 10))
#     sns.set_theme(style="darkgrid")
#     title = num_col + '_ecdf'
#     plt.title(title)
#     plt.hlines(y=0.5, xmin=vis[num_col].min(), xmax=vis[num_col].max(), colors='r', linestyles='dashed')
#     sns.ecdfplot(data=vis, x=num_col, hue='Default', palette=sns.color_palette("Set2")[:2])
#     plt.savefig(title + '.jpeg')
#     plt.show()
#     df_vis = df_copy.copy()

In [12]:
# num_visualization(df_copy, num_features=['BankLoss'], exclude_outlier=2.5)

In [13]:
# num_col = 'BankLoss'
# df_vis = df_copy.copy()
# df_vis = df_vis[~(pd.isnull(df_vis[num_col]))]

# upb = np.percentile(df_vis[num_col], 99.5)
# df_vis = df_vis[(df_vis[num_col] <= upb)]

# plt.figure(figsize=(20, 10))
# sns.set_theme(style="darkgrid")
# title = num_col + '_ecdf'
# plt.title(title)
# plt.hlines(y=0.5, xmin=df_vis[num_col].min(), xmax=df_vis[num_col].max(), colors='r', linestyles='dashed')
# sns.ecdfplot(data=df_vis, x=num_col, palette=sns.color_palette("Set2")[:2])
# plt.savefig(title + '.jpeg')
# plt.show()

In [14]:
# num_col = 'BankLoss%'
# df_vis = df_copy.copy()
# df_vis = df_vis[~(pd.isnull(df_vis[num_col]))]

# # upb = np.percentile(df_vis[num_col], 99)
# # df_vis = df_vis[(df_vis[num_col] <= upb)]

# plt.figure(figsize=(20, 10))
# sns.set_theme(style="darkgrid")
# title = num_col + '_ecdf'
# plt.title(title)
# plt.hlines(y=0.5, xmin=df_vis[num_col].min(), xmax=df_vis[num_col].max(), colors='r', linestyles='dashed')
# sns.ecdfplot(data=df_vis, x=num_col, palette=sns.color_palette("Set2")[:2])
# plt.savefig(title + '.jpeg')
# plt.show()

In [15]:
df_copy['BankLoss'].describe()

count    135109.000
mean      10493.938
std       19249.789
min           0.000
25%           0.000
50%        3484.054
75%       14437.295
max     1213184.643
Name: BankLoss, dtype: float64

In [16]:
df_copy['BankLoss%'].describe()

count   135109.000
mean        12.232
std         13.942
min          0.000
25%          0.000
50%          7.223
75%         21.458
max         69.798
Name: BankLoss%, dtype: float64

In [17]:
df_copy['Default'].describe()

count   530453.000
mean         0.257
std          0.437
min          0.000
25%          0.000
50%          0.000
75%          1.000
max          1.000
Name: Default, dtype: float64

In [18]:
df_copy['Default'].value_counts()

0.000    394129
1.000    136324
Name: Default, dtype: int64

In [19]:
df_copy['ChgOffPrinGr'].sum() / 10

1029063996.9125255

In [20]:
df_copy['ChgOffPrinGr'].sum() / df_copy['DisbursementGross'].sum()

0.08201160749979357

In [21]:
# obj_visualization(df_copy, obj_features=['State', 'BankState'])

In [22]:
print(df_copy['Is_Cross_State'].mean())
df_copy['Is_Cross_State'].value_counts()

0.5692926611782759

1    301983
0    228470
Name: Is_Cross_State, dtype: int64

In [23]:
df_nc_cross = df_copy[(df_copy['Is_Cross_State'] == 1) & (df_copy['BankState'] == 'NC')]
df_nc_cross['Bank'].value_counts()[:10]

BANK OF AMERICA NATL ASSOC        56246
BRANCH BK. & TR CO                 2175
FIRST-CITIZENS BK & TR CO          1083
WELLS FARGO BANK NATL ASSOC         412
SURREY BANK & TRUST                  50
LIVE OAK BANKING COMPANY             46
PNC BANK, NATIONAL ASSOCIATION        7
COMMUNITYONE BANK NATL ASSOC          5
CARTER BANK & TRUST                   3
UWHARRIE BANK                         3
Name: Bank, dtype: int64

In [24]:
bank_list = ['CAPITAL ONE NATL ASSOC', 'HSBC BK USA NATL ASSOC', 'BRANCH BK. & TR CO', 'FIRST-CITIZENS BK & TR CO', 
             'BANK OF AMERICA NATL ASSOC', 'WELLS FARGO BANK NATL ASSOC', 'CITIBANK, N.A.']

In [25]:
for bk in bank_list:
    print(('=' * 6) + bk + ('=' * 6))
    print('======ALL======')
    df_cpt1 = df_copy[(df_copy['Bank'] == bk)]
    display(df_cpt1['Default'].value_counts())
    print('row:', len(df_cpt1))
    print('Default rate: {:.2f}%'.format(df_cpt1['Default'].mean() * 100))
    print('======Cross State======')
    df_cpt1 = df_copy[(df_copy['Is_Cross_State'] == 1) & (df_copy['Bank'] == bk)]
    display(df_cpt1['Default'].value_counts())
    print('row:', len(df_cpt1))
    print('Default rate: {:.2f}%'.format(df_cpt1['Default'].mean() * 100))

======CAPITAL ONE NATL ASSOC======
======ALL======

0.000    12023
1.000     9390
Name: Default, dtype: int64

row: 21413
Default rate: 43.85%
======Cross State======

0.000    11652
1.000     9141
Name: Default, dtype: int64

row: 20793
Default rate: 43.96%
======HSBC BK USA NATL ASSOC======
======ALL======

0.000    1689
1.000    1653
Name: Default, dtype: int64

row: 3342
Default rate: 49.46%
======Cross State======

1.000    1240
0.000     220
Name: Default, dtype: int64

row: 1460
Default rate: 84.93%
======BRANCH BK. & TR CO======
======ALL======

0.000    2694
1.000     524
Name: Default, dtype: int64

row: 3218
Default rate: 16.28%
======Cross State======

0.000    1816
1.000     404
Name: Default, dtype: int64

row: 2220
Default rate: 18.20%
======FIRST-CITIZENS BK & TR CO======
======ALL======

0.000    1416
1.000     232
Name: Default, dtype: int64

row: 1648
Default rate: 14.08%
======Cross State======

0.000    1027
1.000     166
Name: Default, dtype: int64

row: 1193
Default rate: 13.91%
======BANK OF AMERICA NATL ASSOC======
======ALL======

0.000    44645
1.000    23248
Name: Default, dtype: int64

row: 67893
Default rate: 34.24%
======Cross State======

0.000    42677
1.000    22628
Name: Default, dtype: int64

row: 65305
Default rate: 34.65%
======WELLS FARGO BANK NATL ASSOC======
======ALL======

0.000    19737
1.000     6477
Name: Default, dtype: int64

row: 26214
Default rate: 24.71%
======Cross State======

0.000    15418
1.000     6250
Name: Default, dtype: int64

row: 21668
Default rate: 28.84%
======CITIBANK, N.A.======
======ALL======

0.000    3857
1.000    1350
Name: Default, dtype: int64

row: 5207
Default rate: 25.93%
======Cross State======

0.000    2079
1.000    1153
Name: Default, dtype: int64

row: 3232
Default rate: 35.67%

In [26]:
df_copy['Bank'].value_counts()[:5]

BANK OF AMERICA NATL ASSOC        67893
JPMORGAN CHASE BANK NATL ASSOC    32342
CITIZENS BANK NATL ASSOC          31629
WELLS FARGO BANK NATL ASSOC       26214
BBCN BANK                         21681
Name: Bank, dtype: int64

In [27]:
for bk in list(df_copy['Bank'].value_counts()[:10].index):
    print('')
    print(('=' * 6) + bk + ('=' * 6))
    print('')
    print('======ALL======')
    df_cpt1 = df_copy[(df_copy['Bank'] == bk)]
    display(df_cpt1['Default'].value_counts())
    print('row:', len(df_cpt1))
    print('Default rate: {:.2f}%'.format(df_cpt1['Default'].mean() * 100))
    print('')
    print('======Cross State======')
    print('')
    df_cpt1 = df_copy[(df_copy['Is_Cross_State'] == 1) & (df_copy['Bank'] == bk)]
    display(df_cpt1['Default'].value_counts())
    print('row:', len(df_cpt1))
    print('Default rate: {:.2f}%'.format(df_cpt1['Default'].mean() * 100))

======BANK OF AMERICA NATL ASSOC======

======ALL======

0.000    44645
1.000    23248
Name: Default, dtype: int64

row: 67893
Default rate: 34.24%

======Cross State======

0.000    42677
1.000    22628
Name: Default, dtype: int64

row: 65305
Default rate: 34.65%

======JPMORGAN CHASE BANK NATL ASSOC======

======ALL======

0.000    20493
1.000    11849
Name: Default, dtype: int64

row: 32342
Default rate: 36.64%

======Cross State======

0.000    18428
1.000    10678
Name: Default, dtype: int64

row: 29106
Default rate: 36.69%

======CITIZENS BANK NATL ASSOC======

======ALL======

0.000    23073
1.000     8556
Name: Default, dtype: int64

row: 31629
Default rate: 27.05%

======Cross State======

0.000    17701
1.000     7811
Name: Default, dtype: int64

row: 25512
Default rate: 30.62%

======WELLS FARGO BANK NATL ASSOC======

======ALL======

0.000    19737
1.000     6477
Name: Default, dtype: int64

row: 26214
Default rate: 24.71%

======Cross State======

0.000    15418
1.000     6250
Name: Default, dtype: int64

row: 21668
Default rate: 28.84%

======BBCN BANK======

======ALL======

1.000    13598
0.000     8083
Name: Default, dtype: int64

row: 21681
Default rate: 62.72%

======Cross State======

1.000    10091
0.000     5231
Name: Default, dtype: int64

row: 15322
Default rate: 65.86%

======CAPITAL ONE NATL ASSOC======

======ALL======

0.000    12023
1.000     9390
Name: Default, dtype: int64

row: 21413
Default rate: 43.85%

======Cross State======

0.000    11652
1.000     9141
Name: Default, dtype: int64

row: 20793
Default rate: 43.96%

======U.S. BANK NATIONAL ASSOCIATION======

======ALL======

0.000    14456
1.000     5273
Name: Default, dtype: int64

row: 19729
Default rate: 26.73%

======Cross State======

0.000    12930
1.000     4815
Name: Default, dtype: int64

row: 17745
Default rate: 27.13%

======PNC BANK, NATIONAL ASSOCIATION======

======ALL======

0.000    14240
1.000     4713
Name: Default, dtype: int64

row: 18953
Default rate: 24.87%

======Cross State======

0.000    10616
1.000     4584
Name: Default, dtype: int64

row: 15200
Default rate: 30.16%

======READYCAP LENDING, LLC======

======ALL======

0.000    4695
1.000    2238
Name: Default, dtype: int64

row: 6933
Default rate: 32.28%

======Cross State======

0.000    4125
1.000    1953
Name: Default, dtype: int64

row: 6078
Default rate: 32.13%

======MANUFACTURERS & TRADERS TR CO======

======ALL======

0.000    5310
1.000    1144
Name: Default, dtype: int64

row: 6454
Default rate: 17.73%

======Cross State======

0.000    2226
1.000     551
Name: Default, dtype: int64

row: 2777
Default rate: 19.84%

In [28]:
# df_va_cross.to_csv('VA_CrossState.csv', index=False)
# df_nc_cross.to_csv('NC_CrossState.csv', index=False)

In [29]:
# df_vis = df_copy.copy()

# x_axis = "Term"
# y_axis = "DisbursementGross"
# hue_col = 'Default'
# exclude_outlier=1

# df_vis = df_vis[~(pd.isnull(df_vis[x_axis]))]
# df_vis = df_vis[~(pd.isnull(df_vis[y_axis]))]

# upb1 = np.percentile(df_vis[x_axis], 100-exclude_outlier)
# df_vis = df_vis[(df_vis[x_axis] <= upb1)]
# upb2 = np.percentile(df_vis[y_axis], 100-exclude_outlier)
# df_vis = df_vis[(df_vis[y_axis] <= upb2)]

# df_samp = df_vis.sample(n=2000, random_state=0)

# plt.figure(figsize=(15, 12))
# sns.set_theme(style="darkgrid")
# title = 'scatter plot_{}_{}_default hue'.format(x_axis, y_axis)
# plt.title(title)
# sns.scatterplot(data=df_samp, x=x_axis, y=y_axis, hue=hue_col)
# plt.savefig(title + '.jpeg')
# plt.show()

In [30]:
# scatter_plot_with_hue(df=df_copy, x_axis = "Term", y_axis="DisbursementGross", hue_col='RevLineCr', exclude_outlier=1)

In [31]:
# scatter_plot_with_hue(df=df_copy, x_axis = "Term", y_axis="DisbursementGross", hue_col='LowDoc', exclude_outlier=1)

In [32]:
# scatter_plot_with_hue(df=df_copy, x_axis = "Term", y_axis="DisbursementGross", hue_col='RealEstate', exclude_outlier=1)

In [33]:
# scatter_plot_with_hue(df=df_copy, x_axis = "Term", y_axis="DisbursementGross", hue_col='Is_Cross_State', exclude_outlier=1)

In [34]:
# num = 'Term'
# df_vis = df_copy.copy()
# df_vis = df_vis[df_vis['ApprovalDate_year'] >= 1998]

# for i in range(len(obj_features)):
#     if obj_features[i] == 'Bank':
#         continue
#     if df_vis[obj_features[i]].nunique() < 8:
#         plt.figure(figsize=(10, 10))
#     elif obj_features[i] == 'Industry':
#         plt.figure(figsize=(20, 15))
#         vis = df_vis.groupby(by=obj_features[i]).mean().sort_values(by=num, ascending=False)
#         title = 'Mean {} by {}'.format(num, obj_features[i])
#         plt.title(title)
#         sns.set_theme(style="darkgrid")
#         plt.grid(True)
#         sns.barplot(y=vis.index, x=vis[num])
#         plt.savefig(title + '.jpeg')
#         plt.show()
#         continue
#     else:
#         plt.figure(figsize=(20, 10))
        
#     vis = df_vis.groupby(by=obj_features[i]).mean().sort_values(by=num, ascending=False)
    
#     if obj_features[i] in time_cols:
#         vis.index = [int(i) for i in vis.index]
    
#     title = 'Mean {} by {}'.format(num, obj_features[i])
#     plt.title(title)
#     sns.set_theme(style="darkgrid")
#     plt.grid(True)
#     sns.barplot(x=vis.index, y=vis[num])
#     plt.savefig(title + '.jpeg')
#     plt.show()

In [35]:
print(df_copy['BankLoss'].sum())

1417825433.05309

In [36]:
print(df_copy['ChgOffPrinGr'].sum() - df_copy['BankLoss'].sum())

8872814536.072166

In [37]:
df_bank_mean = df_groupby_mean['Bank'].loc[list(df_groupby_size['Bank'].sort_values(by='size', ascending=False)[:100].index), :]
df_bank_sum = df_groupby_sum['Bank'].loc[list(df_groupby_size['Bank'].sort_values(by='size', ascending=False)[:100].index), :]

In [38]:
rank = df_groupby_size['Bank'].sort_values(by='size', ascending=False)[:100].reset_index().reset_index()
rank['index'] = rank['index'] + 1
rank.head(3)

   index                            Bank   size
0      1      BANK OF AMERICA NATL ASSOC  67893
1      2  JPMORGAN CHASE BANK NATL ASSOC  32342
2      3        CITIZENS BANK NATL ASSOC  31629

In [39]:
imp_cols = ['ChgOffPrinGr', 'Default', 'BankLoss', 'BankLoss%', 'Default%', 'SBALoss']
df_bank_mean['SBALoss'] = df_bank_mean['ChgOffPrinGr'] - df_bank_mean['BankLoss']
df_bank_sum['SBALoss'] = df_bank_sum['ChgOffPrinGr'] - df_bank_sum['BankLoss']

In [40]:
display(df_bank_mean[['ChgOffPrinGr', 'Default', 'BankLoss', 'BankLoss%', 'Default%', 'SBALoss']].head(3))
display(df_bank_sum[['ChgOffPrinGr', 'Default', 'BankLoss', 'BankLoss%', 'Default%', 'SBALoss']].head(3))

,ChgOffPrinGr,Default,BankLoss,BankLoss%,Default%,SBALoss
Bank,,,,,,
BANK OF AMERICA NATL ASSOC,37523.654,0.342,13663.646,22.156,0.589,23860.008
JPMORGAN CHASE BANK NATL ASSOC,47807.867,0.366,14232.731,15.606,0.454,33575.136
CITIZENS BANK NATL ASSOC,41141.740,0.271,13924.715,18.461,0.552,27217.025

,ChgOffPrinGr,Default,BankLoss,BankLoss%,Default%,SBALoss
Bank,,,,,,
BANK OF AMERICA NATL ASSOC,870098486.426,23248.000,316832626.932,513748.724,13650.724,553265859.494
JPMORGAN CHASE BANK NATL ASSOC,565997338.906,11849.000,168501304.299,184761.601,5377.449,397496034.607
CITIZENS BANK NATL ASSOC,313047496.616,8556.000,105953154.567,140470.807,4200.729,207094342.049

In [41]:
# for col in imp_cols:
#     print('===== {}_mean ====='.format(col))
#     temp_mean = df_bank_mean.sort_values(by=col, ascending=False).reset_index()
#     result = temp_mean.set_index('Bank').join(rank.set_index('Bank'))
#     result = result.reset_index()
#     display(result[['Bank', col, 'index', 'size']].head(5))
    
#     print('===== {}_sum ====='.format(col))
#     temp_sum = df_bank_sum.sort_values(by=col, ascending=False).reset_index()
#     result = temp_sum.set_index('Bank').join(rank.set_index('Bank'))
#     result = result.reset_index()
#     display(result[['Bank', col, 'index', 'size']].head(5))

In [42]:
# year_col_visualization(df_copy, num_features=['CreateJob', 'RetainedJob', 'USDPerJobCreated', 'Job'], year_col='DisbursementDate_year')

In [43]:
# num = 'Job'
# for i in range(len(obj_features)):
#     if obj_features[i] == 'Bank':
#         continue
#     if df_copy[obj_features[i]].nunique() < 8:
#             plt.figure(figsize=(10, 10))
#     elif obj_features[i] == 'Industry':
#         plt.figure(figsize=(20, 15))
#         vis = df_groupby_mean[obj_features[i]].sort_values(by=num, ascending=False)
#         title = 'Mean {} by {}'.format(num, obj_features[i])
#         plt.title(title)
#         sns.set_theme(style="darkgrid")
#         plt.grid(True)
#         sns.barplot(y=vis.index, x=vis[num])
#         plt.savefig(title + '.jpeg')
#         plt.show()
#         continue
#     else:
#         plt.figure(figsize=(20, 10))
#     vis = df_groupby_mean[obj_features[i]].sort_values(by=num, ascending=False)
#     title = 'Mean {} by {}'.format(num, obj_features[i])
#     plt.title(title)
#     sns.set_theme(style="darkgrid")
#     plt.grid(True)
#     sns.barplot(x=vis.index, y=vis[num])
#     plt.savefig(title + '.jpeg')
#     plt.show()

In [44]:
# plt.figure(figsize=(20, 10))
# sns.lineplot(data=pd.DataFrame(df_groupby_sum['DisbursementDate_year']['Job']).reset_index(), x='DisbursementDate_year', y='Job')
# plt.xticks(pd.DataFrame(df_groupby_sum['DisbursementDate_year']['Job']).reset_index()['DisbursementDate_year'])
# title = '2000-2009 SBA Create and Retained Job Sum'
# plt.title(title)
# plt.savefig('{}.jpeg'.format(title))
# plt.show()

In [45]:
pd.DataFrame(df_groupby_sum['DisbursementDate_year'][['CreateJob', 'RetainedJob', 'Job', 'SBALoss']])

                       CreateJob  RetainedJob        Job        SBALoss
DisbursementDate_year
2000.000              109822.000   215998.000 325820.000  707161540.521
2001.000               94347.000   219341.000 313688.000  637306148.198
2002.000              107046.000   255179.000 362225.000  578801632.265
2003.000              122750.000   320475.000 443225.000  574431520.817
2004.000              131791.000   334978.000 466769.000  782748301.357
2005.000              149276.000   406617.000 555893.000 1166419170.583
2006.000              171742.000   438882.000 610624.000 1643508741.501
2007.000              180210.000   382737.000 562947.000 1719281929.606
2008.000              116118.000   222538.000 338656.000  837832490.939
2009.000               62025.000   164053.000 226078.000  225323060.286

In [46]:
pd.DataFrame(df_groupby_sum['DisbursementDate_year']['SBALoss'])

                             SBALoss
DisbursementDate_year
2000.000               707161540.521
2001.000               637306148.198
2002.000               578801632.265
2003.000               574431520.817
2004.000               782748301.357
2005.000              1166419170.583
2006.000              1643508741.501
2007.000              1719281929.606
2008.000               837832490.939
2009.000               225323060.286

In [47]:
# scatter_plot_with_hue(df=df_copy, x_axis="Term", y_axis="Job", hue_col='Default', exclude_outlier=1)

In [48]:
# scatter_plot_with_hue(df=df_copy, x_axis="DisbursementGross", y_axis="Job", hue_col='Default', exclude_outlier=1)

In [49]:
# scatter_plot_with_hue(df=df_copy, x_axis="NoEmp", y_axis="Job", hue_col='NewExist', exclude_outlier=1)

In [50]:
df_bkstate_mean = df_copy.groupby(by='BankState').mean().sort_values(by=['Default', 'Is_Cross_State'], ascending=False)[['Default', 'Is_Cross_State']]
display(df_bkstate_mean[['Default', 'Is_Cross_State']].head(5))
# df_bkstate_mean.to_excel('BankState_mean.xlsx')

           Default  Is_Cross_State
BankState
VA           0.439           0.896
NC           0.353           0.923
SD           0.330           0.941
CA           0.321           0.458
IL           0.309           0.771

In [51]:
df_state_mean = df_copy.groupby(by='State').mean().sort_values(by=['Default', 'Is_Cross_State'], ascending=False)[['Default', 'Is_Cross_State']]
display(df_state_mean[['Default', 'Is_Cross_State']].head(5))
# df_state_mean.to_excel('State_mean.xlsx')

       Default  Is_Cross_State
State
GA       0.362           0.706
FL       0.362           0.812
DC       0.346           0.919
NV       0.341           0.742
TN       0.330           0.713

In [52]:
df_state_year_mean = df_copy.groupby(by=['State', 'DisbursementDate_year']).mean().reset_index()[['State', 'DisbursementDate_year', 'Default', 'Is_Cross_State']]
# df_state_year_mean.to_excel('State_year_mean.xlsx', index=False)
# scatter_plot_with_hue(df_state_year_mean, x_axis='Is_Cross_State', y_axis='Default', hue_col=None, exclude_outlier=0, sample_num=0)
df_state_year_mean.head(3)

  State  DisbursementDate_year  Default  Is_Cross_State
0    AK               2000.000    0.083           0.479
1    AK               2001.000    0.053           0.526
2    AK               2002.000    0.042           0.333

In [53]:
%run function.ipynb

In [54]:
# scatter_plot_with_hue(df_bkstate_mean, x_axis='Is_Cross_State', y_axis='Default', hue_col=None, exclude_outlier=0, sample_num=0)

In [55]:
# df_bkstate_year_mean = df_copy.groupby(by=['BankState', 'DisbursementDate_year']).mean().reset_index()[['BankState', 'DisbursementDate_year', 'Default', 'Is_Cross_State']]
# # df_bkstate_year_mean.to_excel('BankState_year_mean.xlsx', index=False)
# scatter_plot_with_hue(df_bkstate_year_mean, x_axis='Is_Cross_State', y_axis='Default', hue_col=None, exclude_outlier=0, sample_num=0)
# df_bkstate_year_mean.head(3)

In [56]:
vanc = df_copy[(df_copy['BankState'] == 'VA') | (df_copy['BankState'] == 'NC')]

In [57]:
df_year_mean = df_copy.groupby(by='DisbursementDate_year').mean().sort_values(by=['Default', 'Is_Cross_State'], ascending=False)[['Default', 'Is_Cross_State']]
# df_year_mean.to_excel('year_mean.xlsx')
df_year_mean[['Default', 'Is_Cross_State']].head(5)

                       Default  Is_Cross_State
DisbursementDate_year
2007.000                 0.449           0.677
2006.000                 0.372           0.677
2008.000                 0.353           0.563
2005.000                 0.278           0.629
2004.000                 0.201           0.582

In [58]:
bankcross = pd.DataFrame(df_copy.groupby(by=['Bank', 'Is_Cross_State']).mean().loc[list(df_groupby_size['Bank'].sort_values(by='size', ascending=False)[:100].index), :]['Default']).reset_index()
pivot_bankcross = bankcross.pivot_table(index=['Bank'], columns=['Is_Cross_State'], values='Default')
pivot_bankcross.head(3)

Is_Cross_State        0     1
Bank
1ST SOURCE BANK   0.140 0.174
AMERICANWEST BANK 0.091 0.208
ARVEST BANK       0.147 0.170

In [59]:
bankstatecross = pd.DataFrame(df_copy.groupby(by=['BankState', 'Is_Cross_State']).mean()['Default']).reset_index()
pivot_bankstatecross = bankstatecross.pivot_table(index=['BankState'], columns=['Is_Cross_State'], values='Default')
pivot_bankstatecross.head(3)

Is_Cross_State     0     1
BankState
AK             0.123 0.500
AL             0.140 0.232
AR             0.211 0.131

In [60]:
# pivot_bankstatecross.to_excel('bankstate_cross.xlsx')

In [61]:
bigbank100 = list(df_groupby_size['Bank'].sort_values(by='size', ascending=False)[:100].index)
vigncbk = list(vanc['Bank'].unique())
print(len(vigncbk))

mutualbk = []
for bk in bigbank100:
    if bk in vigncbk:
        mutualbk.append(bk)

print(len(mutualbk))

152
15

In [62]:
vanc_index = []
others_index = []

for index, row in df_copy.iterrows():
    if index % 200 == 0:
        print(index)
    if row['Bank'] in mutualbk:
        if row['BankState'] in ['VA', 'NC']:
            vanc_index.append(index)
        else:
            others_index.append(index)

400
600
800
1000
1400
1600
2000
2200
2400
2600
2800
3000
3200
3400
3800
4000
4200
4400
4600
5000
5400
5600
5800
6000
6200
6800
7200
7400
7600
7800
8200
8600
9000
9400
9600
9800
10000
10200
10400
10800
11200
11800
12000
12400
13000
13200
13800
14000
15000
15200
15400
15800
16200
16600
16800
17000
17200
17400
17600
18200
18800
19000
19200
19400
19800
20000
20400
20600
21200
21600
22000
22400
22800
23000
23200
23400
23600
23800
24000
24400
24600
24800
25400
25600
25800
26000
26400
26600
27000
27200
27600
27800
28000
28200
28400
28600
28800
29000
29400
29600
29800
30000
30200
30400
30800
31000
31200
31400
31800
32200
32600
32800
33000
33400
33800
34000
34200
34600
34800
35800
36000
36200
36400
36600
36800
37000
37200
37600
37800
38000
38200
38400
38600
38800
39000
39200
39400
40000
40200
40600
40800
41000
41400
41600
41800
42400
42600
43000
43200
43800
44000
44200
44400
44600
45000
45200
45800
46000
46200
46400
46600
46800
47200
47400
48200
48400
48800
49400
50000
50600
51200
51600
51800
52000
52600
53200
53400
53600
54000
54200
54600
55000
55200
55400
56000
56400
56800
57000
57200
57400
57600
58200
58600
58800
59000
59400
59600
60000
60200
60400
60600
60800
61000
61400
61600
62200
62400
62600
62800
63200
63600
63800
64000
64400
64800
65400
65800
66000
66400
66600
66800
67000
67200
67600
68000
68200
68400
68600
69200
69600
69800
70000
70200
70600
70800
71000
71600
71800
72000
72200
72400
72800
73000
73200
73400
73600
73800
74600
74800
75000
75200
75800
76000
76200
76400
76600
76800
77400
78600
79400
79600
79800
80000
80200
80400
80800
81000
81200
81400
81800
82000
82200
83000
83200
83400
84000
84200
84400
85200
85600
85800
86000
86200
86800
87000
87200
87600
87800
88000
88800
89000
89200
89600
90000
90200
90400
90600
91000
91200
91400
92000
92400
93000
93600
93800
94000
94200
94600
94800
95200
95400
95800
96200
96400
96600
97200
97400
97800
98000
98600
98800
99000
99200
99600
100000
100200
100400
100800
101000
101600
101800
102200
102400
102600
103000
103400
103600
103800
104000
104200
104600
105000
105200
105400
105600
105800
106000
106400
106800
107400
107600
108000
108200
108400
108800
109200
109400
109600
110000
110200
110600
111000
111200
111600
111800
112000
112200
112800
113000
113400
113600
113800
114800
115000
115200
115400
115800
116000
117000
117200
117400
117600
117800
118000
118200
118400
118600
118800
119400
119600
120000
120200
120400
120600
120800
121200
121600
121800
122000
122400
122800
123000
123400
123600
124200
124400
124600
124800
125000
125600
125800
126000
126400
126600
126800
127600
127800
128000
128200
128400
128600
128800
129200
130000
130200
130400
130600
130800
131000
131200
131600
131800
132800
133000
133200
133600
134400
134600
134800
135400
135600
135800
136200
136400
136800
137000
137400
137600
137800
138000
138400
139200
139600
140000
140200
140800
141000
141200
141600
142000
142200
142600
143200
143600
143800
144000
144200
144400
144600
144800
145000
145200
145800
146200
146400
146600
147000
147200
147800
148000
148200
149000
149200
149400
149800
150000
150600
150800
151400
151600
151800
152000
152400
152800
153000
153400
154400
154800
155000
155200
155400
155600
155800
156000
156200
156400
156600
156800
157200
157600
158000
158200
158600
159000
159600
160200
160400
160600
160800
161000
161400
161800
162000
162200
163000
163200
163400
163600
163800
164400
164600
165000
165200
166400
166600
166800
167000
167400
167800
168800
169200
169800
170000
170200
170400
171200
171400
171600
171800
172000
172400
173000
173400
173600
173800
174000
174200
174400
174800
175200
175400
175600
175800
176200
176400
176600
176800
178000
178600
178800
179600
180000
180400
180600
181000
181400
181600
182000
182600
182800
183000
183200
183600
183800
184000
184200
184400
185200
185400
185600
185800
186000
186600
186800
187800
188000
188200
188400
188800
189000
189200
189400
189600
189800
190000
190200
190400
190800
191000
191200
191400
191600
192000
192200
192600
193000
193200
193400
193600
194400
194600
194800
195000
195200
195600
195800
196000
196400
196600
196800
197000
197200
197400
197600
198000
198200
198600
198800
199200
199400
199600
199800
200000
200200
200600
200800
201000
201200
201400
201600
201800
202000
202200
202400
203000
203200
203400
203600
203800
204000
204200
204600
204800
205000
205600
205800
206200
206400
206600
206800
207200
207400
207600
207800
208000
208400
208600
208800
209000
209400
209600
210000
210400
210600
210800
211000
211600
211800
212000
212200
212400
212600
212800
213000
213200
213400
213600
213800
214000
214200
214400
214600
214800
215000
215200
215400
215600
215800
216000
216200
217000
217200
217400
217600
217800
218000
218200
218400
218600
218800
219000
219400
219600
219800
220000
220200
220400
220600
220800
221200
221400
221600
222000
222200
222400
222600
222800
223000
223200
223400
224000
224200
224400
224600
224800
225000
225200
225400
225600
226000
226200
226400
226600
226800
227000
227200
227800
228000
228200
228400
228600
228800
229000
229200
229400
229600
229800
230000
230200
230400
230600
230800
231000
231200
231400
231600
231800
232000
232200
232400
232600
232800
233000
233200
233400
234000
234400
234800
235000
235200
235400
235600
236000
236400
236600
236800
237200
237400
237600
237800
238000
238200
238600
238800
239000
239200
239400
239600
239800
240000
240200
240400
240600
240800
241000
241200
241400
241600
241800
242000
242200
242600
243000
243200
243400
243600
243800
244000
244200
244800
245000
245400
245600
246200
246600
246800
247200
247400
248000
248200
248400
248600
248800
249000
249800
250000
250200
250400
250600
250800
251200
251400
251600
251800
252000
252200
252400
252600
252800
253000
253200
253400
253600
253800
254200
254600
254800
255000
255400
255600
255800
256000
256400
256600
256800
257000
257200
257400
257600
257800
258000
258200
258600
259000
259600
259800
260000
260200
261000
261200
261600
262000
262200
262400
262600
263200
263600
264000
264400
265000
265400
265800
266000
266200
266400
266800
267200
267400
267800
268000
268200
268400
268800
269000
269400
269600
269800
270000
270400
271000
271200
271600
271800
272400
272600
272800
273000
273200
273400
273600
274000
274200
274400
274600
275000
275200
275800
276000
276200
276400
277200
277400
277600
277800
278200
278400
278600
278800
279000
279400
280000
280200
280400
280800
281200
281400
281600
281800
282000
282200
282400
282600
282800
283000
283200
283400
284000
284400
285600
285800
286000
286400
286600
287400
287600
287800
288200
288600
288800
289000
289400
289600
290000
290200
290400
290600
291000
291200
291600
292000
292400
292600
293200
293400
293600
294000
294200
294600
295000
295200
295600
295800
296600
296800
297000
297200
297400
297600
297800
298000
298200
298600
298800
299600
299800
300000
300200
300600
301200
301600
302000
302200
302600
303200
303400
303600
304000
304200
304400
304600
305000
305200
306000
306200
306600
306800
307000
307200
307800
308000
308600
308800
309000
309200
309800
310400
310600
310800
311000
311200
311800
312000
312600
312800
313000
313200
313400
313600
313800
314000
314200
314400
314600
314800
315000
315200
315400
315600
316000
316200
316600
317000
317200
317400
317600
317800
318000
318200
318800
319000
319200
319400
319800
320000
320200
320400
320800
321000
321200
321400
321800
322000
322200
322400
322600
323000
323400
323800
324400
324600
324800
325200
325400
325600
325800
326200
326400
326600
327000
327200
327400
327600
327800
328400
329600
329800
330000
330200
330800
331400
331800
332200
332600
333800
334800
335400
335600
336000
336200
337000
337200
338600
339000
339200
339400
340200
340600
341400
341800
342000
342200
342400
343000
343200
343400
343800
344400
344600
344800
345800
346200
346400
346600
346800
348000
349200
349400
349600
351400
351800
352600
353000
353400
353600
353800
354200
354400
354800
355000
355400
355600
355800
356000
356200
356800
357400
357600
357800
358000
358200
358400
358600
358800
359000
359200
359400
359600
359800
360200
360600
361000
361200
361400
361600
362000
362200
362400
362600
362800
363000
363200
363800
364000
364200
364400
364800
365000
365400
365600
366000
366200
366400
367000
367200
367400
367600
367800
368000
368200
368400
368800
369200
369600
369800
370000
370200
370400
370600
370800
371200
371400
371600
371800
372000
372200

372400
372600
372800
373000
373200
373400
373600
373800
374000
374200
374400
374600
374800
375400
375600
375800
376000
376200
376400
376600
376800
377000
377200
377400
377600
377800
378200
378400
378600
378800
379200
379400
379600
379800
380000
380200
380600
380800
381000
381200
381400
381600
381800
382000
382200
382400
382600
382800
383000
383400
383600
383800
384000
384400
384600
384800
385000
385200
385400
385600
385800
386000
386200
386400
386600
386800
387000
387200
387400
387600
387800
388000
388200
388400
388800
389000
389200
389400
389600
389800
390000
390200
390400
390600
391000
391200
391400
391600
392000
392200
392400
392600
392800
393000
393200
393400
393800
394000
394200
394600
394800
395200
395400
395600
396000
396200
396600
396800
397000
397200
397400
397600
397800
398200
398400
398600
398800
399000
399400
399600
399800
400000
400400
400600
401000
401400
401800
402000
402200
402400
402600
403000
403200
403400
403600
403800
404000
404200
404600
404800
405000
405400
405600
405800
406000
406200
406600
407000
408000
408800
409000
409400
409800
410600
411000
411600
412000
412200
412400
412600
413000
413600
413800
414200
415000
416800
417600
417800
418000
418200
418400
418600
419000
420800
421000
421200
421800
422800
423000
423200
423400
424000
424200
424800
425000
425400
425600
425800
426200
426600
427000
427600
427800
428000
428200
428400
429000
430200
430600
430800
431600
431800
432200
432400
432600
432800
433200
434400
436200
436400
436600
437400
437600
438400
439400
439600
439800
440600
441000
441600
441800
442400
443000
443800
444000
444400
444600
445400
445800
446000
446200
446600
447000
447600
448000
449000
449400
450400
451000
451400
451800
452000
452400
453400
453600
453800
454000
455000
455200
455600
455800
456200
456400
456800
457600
458200
460000
461000
461200
461400
461800
462400
463200
463400
463800
464200
464600
465000
465200
465800
466400
466600
466800
467800
468000
468200
468600
468800
469000
469400
470200
470800
471000
471200
471800
472400
473000
473400
473800
474400
474600
475000
475200
475600
476000
476200
476800
477000
477800
478200
478600
478800
479600
479800
480000
480400
481000
481200
481400
481800
482000
482200
482400
483200
483600
483800
484200
484400
484600
484800
485000
485200
485400
485600
486200
486400
486600
486800
487000
487800
488000
488200
488400
488800
489000
489200
489800
490000
490400
490600
490800
491200
491400
491800
492200
492600
492800
493000
493200
493400
493600
493800
494000
494200
494400
494600
494800
495000
495200
495400
495800
496000
496200
496400
496600
496800
497000
497200
497400
497600
497800
498000
498200
498400
498800
499000
499200
499400
499600
499800
500000
500200
500400
500600
501000
501200
501400
501600
501800
502000
502200
502400
502800
503000
503200
503400
503800
504200
504400
504800
505000
505200
505600
505800
506000
506400
506600
506800
507400
507600
507800
508000
508400
508800
509000
509200
509400
510000
510200
510400
510600
510800
511000
511200
511400
511600
511800
512200
512400
513200
513800
514000
514200
514600
514800
515000
515200
515400
517200
517400
517600
517800
518400
518600
519200
519400
519800
520200
520600
521200
521400
521800
522200
522600
522800
523400
523600
523800
524400
524600
524800
525000
525200
525400
526200
526600
527400
527600
528000
528600
529200
529400
529600
530200
530400
530600
531000
531200
531400
532000
532200
532600
533000
533200
533400
533600
533800
534000
534200
534400
534600
535000
535400
535600
535800
536000
536200
536400
536600
536800
537000
537200
537400
537800
538000
538200
538400
538600
538800
539000
539200
539400
539600
539800
540000
540200
542000
542400
543000
543200
543400
543600
544000
544200
544600
545400
546000
546800
547000
547200
547600
548000
548200
548400
548600
548800
549000
549200
549400
550200
550400
551000
551200
551400
551600
552000
552200
552800
553000
553200
553600
553800
554000
554400
554600
554800
555000
555200
555400
555600
556000
556200
556400
556600
556800
557000
557200
557400
557800
558000
558200
558800
559000
559400
559600
560000
560200
560400
560600
561000
561400
561800
562000
562200
562400
562800
563000
563600
563800
564000
564200
564600
565600
566000
566200
566400
566600
566800
567200
567400
567600
567800
568200
568400
569000
569200
569400
569600
570200
570400
571400
571600
571800
572000
572600
573200
573800
574000
574200
574400
575200
575600
576000
576200
576400
576600
576800
577000
577400
577600
578200
578600
579000
579600
579800
580000
580200
580400
580800
581200
581600
581800
582000
582200
582400
583000
583200
583400
583600
583800
584000
584200
584600
585000
585200
585400
585600
585800
586000
586200
586400
586600
586800
587000
587200
587600
588000
588200
588400
588600
588800
589000
589200
589400
589600
589800
590000
590200
590400
590600
590800
591000
591200
591400
591800
592000
592600
592800
593200
593400
593600
593800
594000
594600
594800
595000
595200
595400
595800
596000
596200
596400
596600
596800
597000
597200
597400
597600
597800
598000
598200
598400
598600
598800
599000
599200
599400
599600
599800
600000
600200
600400
600600
600800
601200
601400
601800
602000
602200
602400
602600
602800
603000
603200
603400
603600
603800
604000
604200
604400
604600
604800
605200
605400
605600
605800
606200
606400
606600
606800
607000
607200
607400
607600
607800
608000
608400
608600
608800
609000
609200
609400
609800
610000
610200
610800
611200
611400
611600
611800
612000
612200
612800
613000
613200
613600
613800
614000
614200
614400
614800
615000
615200
615400
615600
616000
616200
616400
616800
617000
617400
617600
617800
618000
618200
618400
618600
619000
619200
619400
619600
619800
620000
620200
620400
620600
620800
621000
621200
621400
621600
622000
622200
622400
622600
622800
623000
623200
623600
623800
624000
624200
624600
624800
625000
625200
625400
625600
625800
626000
626200
626600
626800
627200
627400
627600
628000
628400
628600
628800
629000
629200
629400
629600
629800
630000
630200
630400
630600
630800
631000
631200
631400
631800
632000
632200
632400
632600
632800
633000
633200
633400
633600
633800
634000
634200
634600
634800
635000
635200
635400
635800
636000
636200
636400
636600
636800
637000
637200
637600
637800
638000
638400
638600
638800
639200
639400
639600
640000
640200
640400
640600
640800
641000
641200
641400
641800
642000
642200
642400
642600
642800
643000
643200
643400
643600
643800
644000
644200
644400
644600
645000
645200
645400
645800
646000
646400
646600
646800
647000
647200
647400
647600
647800
648000
648200
648400
648800
649000
649600
649800
650000
650200
650600
650800
651000
651200
651400
651600
651800
652000
652200
652400
652800
653000
653200
653400
653600
654200
654400
654600
654800
655000
655200
655400
655600
656000
656200
656400
656600
656800
657000
658000
658200
658400
658800
659000
659200
659400
659600
659800
660000
660200
660400
660600
660800
661000
661400
661600
661800
662600
662800
663000
663200
663400
663800
664000
664200
664400
664600
664800
665200
665600
665800
666000
666400
666800
667000
667200
667400
667600
667800
668000
668200
668400
668600
668800
669000
669400
669600
669800
670200
670400
670600
670800
671000
671200
671400
671600
671800
672000
672400
673200
673400
673600
673800
674200
674400
674600
674800
675000
675200
675400
675600
675800
676000
676200
676400
676600
677200
677400
677600
677800
678200
678400
679000
679200
679400
679600
679800
680000
680200
680400
681600
681800
682200
682400
682600
682800
683200
684000
684200
684400
684600
684800
685000
685200
686000
686200
686800
687800
688400
688600
688800
689000
689200
689400
690000
690400
691400
691600
691800
692000
692400
693600
694000
694400
695200
695400
696000
696400
696600
696800
697200
697400
698000
698200
698600
699200
699400
699600
700000
700200
700400
700600
700800
701000
701600
702000
702600
702800
703000
703200
703600
703800
704200
705000
705200
705400
705600
705800
706000
706400
706600
706800
707600
707800
708200
709200
709600
709800
710000
711400
712200
712400
712600
713000
713400
714000
715000
715200
715600
716400
717400
718000
718800
719200
720000
720200
720400
721000
721200
721400
722000
722600
722800
723200
723400
724400
724600
724800
725400
725600
726000
727000
727200
727800
728000
728200
728400
729400
729600
730000
730200
730800

731600
732200
732400
732600
733600
733800
734800
735000
735200
736600
738600
739600
739800
740200
740400
740800
741200
742600
743000
743200
744600
746000
746200
746600
748000
748400
749600
749800
750200
751800
752000
752200
754000
755200
755400
755600
755800
756200
757400
757600
757800
758000
759000
759400
760400
760600
761600
763000
763200
763400
763800
764400
764600
764800
765200
767400
768000
768800
769000
769200
770000
770600
771200
771800
772800
773200
773400
773800
774000
774800
775000
775600
775800
776200
776600
776800
777000
777400
777600
777800
778000
778200
778400
778800
779000
779200
779400
779800
780200
780400
780800
781000
781600
781800
782000
782400
782800
783800
784400
784800
785000
785400
786000
786200
786400
786600
786800
787000
787600
787800
788400
789000
789200
789600
790000
790800
791600
791800
792000
792600
792800
793000
794000
794200
794600
794800
795200
795600
795800
796000
796600
797000
797200
797400
797800
798400
798600
799400
799600
800400
800600
800800
801200
801400
802200
802400
802600
804000
804200
804400
804600
805200
805400
805600
805800
806000
806600
807600
807800
808000
808200
808600
809200
809800
810200
810400
811600
811800
812000
812200
813000
813200
813800
814200
815000
815200
816000
817400
818200
819000
819200
821600
822800
823000
823600
824000
825800
826200
826400
827000
827200
827400
827600
828200
829200
830800
831000
833200
833600
833800
834000
834400
835000
835400
835600
837200
837400
838000
839000
840400
843600
844600
844800
845600
845800
846000
846200
847000
847200
848000
848200
848400
848600
849600
850400
854800

In [63]:
vanc = df_copy.loc[vanc_index, :]
others = df_copy.loc[others_index, :]

In [64]:
vanc_cross_file = pd.DataFrame(vanc.groupby(by=['Bank', 'Is_Cross_State']).mean()['Default']).reset_index().pivot_table(index=['Bank'], columns=['Is_Cross_State'], values='Default')
vanc_cross_file.columns = ['vanc_0', 'vanc_1']
display(vanc_cross_file)

others_cross_file = pd.DataFrame(others.groupby(by=['Bank', 'Is_Cross_State']).mean()['Default']).reset_index().pivot_table(index=['Bank'], columns=['Is_Cross_State'], values='Default')
others_cross_file.columns = ['others_0', 'others_1']
display(others_cross_file)

                                vanc_0  vanc_1
Bank
BANK OF AMERICA NATL ASSOC       0.316   0.381
BRANCH BK. & TR CO               0.151   0.183
BUSINESS FINANCE GROUP, INC.     0.000   0.000
CAPITAL ONE NATL ASSOC           0.409   0.440
FIFTH THIRD BANK                 0.048   0.000
FIRST BANK                       0.180   0.000
FIRST-CITIZENS BK & TR CO        0.082   0.102
HERITAGE BANK                    0.000     NaN
HSBC BK USA NATL ASSOC             NaN   0.944
MANUFACTURERS & TRADERS TR CO    0.000     NaN
PNC BANK, NATIONAL ASSOCIATION   0.100   0.312
SUNTRUST BANK                    0.000     NaN
TD BANK, NATIONAL ASSOCIATION    0.500   0.500
UPS CAPITAL BUSINESS CREDIT      0.000   0.333
WELLS FARGO BANK NATL ASSOC      0.080   0.197

                                others_0  others_1
Bank
BANK OF AMERICA NATL ASSOC         0.088     0.133
BRANCH BK. & TR CO                 0.073     0.140
CAPITAL ONE NATL ASSOC             0.359     0.214
FIFTH THIRD BANK                   0.126     0.195
FIRST BANK                         0.121     0.357
FIRST-CITIZENS BK & TR CO          0.237     0.500
HERITAGE BANK                      0.144     0.167
HSBC BK USA NATL ASSOC             0.219     0.315
MANUFACTURERS & TRADERS TR CO      0.162     0.198
PNC BANK, NATIONAL ASSOCIATION     0.033     0.302
SUNTRUST BANK                      0.232     0.166
TD BANK, NATIONAL ASSOCIATION      0.026     0.183
UPS CAPITAL BUSINESS CREDIT        0.206     0.399
WELLS FARGO BANK NATL ASSOC        0.049     0.290

In [65]:
state_bank_cross_file = pd.concat([vanc_cross_file, others_cross_file], axis=1)
# state_bank_cross_file.to_excel('bankstate_bank_cross.xlsx')
state_bank_cross_file

                                vanc_0  vanc_1  others_0  others_1
Bank
BANK OF AMERICA NATL ASSOC       0.316   0.381     0.088     0.133
BRANCH BK. & TR CO               0.151   0.183     0.073     0.140
BUSINESS FINANCE GROUP, INC.     0.000   0.000       NaN       NaN
CAPITAL ONE NATL ASSOC           0.409   0.440     0.359     0.214
FIFTH THIRD BANK                 0.048   0.000     0.126     0.195
FIRST BANK                       0.180   0.000     0.121     0.357
FIRST-CITIZENS BK & TR CO        0.082   0.102     0.237     0.500
HERITAGE BANK                    0.000     NaN     0.144     0.167
HSBC BK USA NATL ASSOC             NaN   0.944     0.219     0.315
MANUFACTURERS & TRADERS TR CO    0.000     NaN     0.162     0.198
PNC BANK, NATIONAL ASSOCIATION   0.100   0.312     0.033     0.302
SUNTRUST BANK                    0.000     NaN     0.232     0.166
TD BANK, NATIONAL ASSOCIATION    0.500   0.500     0.026     0.183
UPS CAPITAL BUSINESS CREDIT      0.000   0.333     0.206     0.399
WELLS FARGO BANK NATL ASSOC      0.080   0.197     0.049     0.290

In [66]:
vanc_file = pd.DataFrame(vanc.groupby(by=['Bank']).mean()['Default'])
vanc_file.columns = ['vanc']
display(vanc_file)

others_file = pd.DataFrame(others.groupby(by=['Bank']).mean()['Default'])
others_file.columns = ['others']
display(others_file)

                                vanc
Bank
BANK OF AMERICA NATL ASSOC     0.379
BRANCH BK. & TR CO             0.176
BUSINESS FINANCE GROUP, INC.   0.000
CAPITAL ONE NATL ASSOC         0.439
FIFTH THIRD BANK               0.047
FIRST BANK                     0.176
FIRST-CITIZENS BK & TR CO      0.098
HERITAGE BANK                  0.000
HSBC BK USA NATL ASSOC         0.944
MANUFACTURERS & TRADERS TR CO  0.000
PNC BANK, NATIONAL ASSOCIATION 0.132
SUNTRUST BANK                  0.000
TD BANK, NATIONAL ASSOCIATION  0.500
UPS CAPITAL BUSINESS CREDIT    0.250
WELLS FARGO BANK NATL ASSOC    0.162

                                others
Bank
BANK OF AMERICA NATL ASSOC       0.129
BRANCH BK. & TR CO               0.080
CAPITAL ONE NATL ASSOC           0.340
FIFTH THIRD BANK                 0.167
FIRST BANK                       0.248
FIRST-CITIZENS BK & TR CO        0.334
HERITAGE BANK                    0.144
HSBC BK USA NATL ASSOC           0.229
MANUFACTURERS & TRADERS TR CO    0.177
PNC BANK, NATIONAL ASSOCIATION   0.249
SUNTRUST BANK                    0.180
TD BANK, NATIONAL ASSOCIATION    0.152
UPS CAPITAL BUSINESS CREDIT      0.372
WELLS FARGO BANK NATL ASSOC      0.249

In [67]:
state_bank_file = pd.concat([vanc_file, others_file], axis=1)
# state_bank_file.to_excel('bankstate_bank.xlsx')
state_bank_file

                                vanc  others
Bank
BANK OF AMERICA NATL ASSOC     0.379   0.129
BRANCH BK. & TR CO             0.176   0.080
BUSINESS FINANCE GROUP, INC.   0.000     NaN
CAPITAL ONE NATL ASSOC         0.439   0.340
FIFTH THIRD BANK               0.047   0.167
FIRST BANK                     0.176   0.248
FIRST-CITIZENS BK & TR CO      0.098   0.334
HERITAGE BANK                  0.000   0.144
HSBC BK USA NATL ASSOC         0.944   0.229
MANUFACTURERS & TRADERS TR CO  0.000   0.177
PNC BANK, NATIONAL ASSOCIATION 0.132   0.249
SUNTRUST BANK                  0.000   0.180
TD BANK, NATIONAL ASSOCIATION  0.500   0.152
UPS CAPITAL BUSINESS CREDIT    0.250   0.372
WELLS FARGO BANK NATL ASSOC    0.162   0.249

In [68]:
va_all = df_copy[(df_copy['BankState'] == 'VA')][['Default', 'Is_Cross_State']]
nc_all = df_copy[(df_copy['BankState'] == 'NC')][['Default', 'Is_Cross_State']]
others_all = df_copy[(df_copy['BankState'] != 'VA') & (df_copy['BankState'] != 'NC')][['Default', 'Is_Cross_State']]
print(va_all.shape)
print(nc_all.shape)
print(others_all.shape)

(25408, 2)
(65019, 2)
(440026, 2)

In [69]:
# va_all.to_excel('va_all.xlsx', index=False)
# nc_all.to_excel('nc_all.xlsx', index=False)
# others_all.to_excel('others_all.xlsx', index=False)

In [116]:
df_copy

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,ApprovalDate,Term,NoEmp,...,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710,DisbursePerMonth,BankLoss,BankLoss%,Job,SBALoss
12,1000146010,CARVEL,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,2006-02-07,162.000,2.000,...,0.000,0.000,0.000,0.000,0.000,1896.146,NaN,NaN,0.000,NaN
24,1000446006,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,2006-02-07,126.000,7.000,...,0.000,0.000,0.000,0.000,1.000,1320.931,NaN,NaN,0.000,NaN
28,1000506000,WEYLAND CORPORATION,CAMARILLO,CA,93010,WELLS FARGO BANK NATL ASSOC,SD,2006-02-07,83.000,18.000,...,0.000,0.000,0.000,0.000,0.000,6404.900,NaN,NaN,28.000,NaN
30,1000516003,CHICAGO BRICK UNLIMITED INC,MIAMI,FL,33186,"CITIBANK, N.A.",FL,2006-02-07,84.000,4.000,...,0.000,0.000,0.000,0.000,0.000,742.338,NaN,NaN,4.000,NaN
32,1000526006,"RZI, INC.",NEW ORLEANS,LA,70130,BUSINESS RES. CAP. SPECIALTY B,LA,2006-02-07,60.000,3.000,...,0.000,0.000,0.000,0.000,0.000,1010.181,NaN,NaN,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855582,9991423008,"THE AUTO CLINIC, INC.",LEES SUMMIT,MO,64081,"RURAL MISSOURI, INC.",MO,1997-02-26,240.000,9.000,...,1.000,0.000,0.000,0.000,0.000,1723.132,NaN,NaN,9.000,NaN
855584,9991463009,"A.S.A.P. CLEANING SERVICES, IN",STEELTON,PA,17113,"PNC BANK, NATIONAL ASSOCIATION",PA,1997-02-26,12.000,17.000,...,0.000,0.000,1.000,1.000,0.000,1257.761,NaN,NaN,0.000,NaN
855624,9992673004,UNCLE O'S,BATON ROUGE,LA,70817,JPMORGAN CHASE BANK NATL ASSOC,LA,1997-02-27,84.000,14.000,...,0.000,0.000,0.000,0.000,0.000,1796.801,NaN,NaN,0.000,NaN
855706,9994003006,"FIVE STAR ELECTRIC, INC.",PHILADELPHIA,PA,19145,WELLS FARGO BANK NATL ASSOC,PA,1997-02-27,36.000,5.000,...,0.000,0.000,1.000,1.000,1.000,1257.761,NaN,NaN,0.000,NaN
855781,9995393009,"FUTURE CONTRACTING SERVICES, I",DALLAS,PA,18612,"PNC BANK, NATIONAL ASSOCIATION",PA,1997-02-27,12.000,2.000,...,0.000,0.000,1.000,1.000,1.000,10062.087,NaN,NaN,0.000,NaN

In [117]:
rate = pd.read_excel('fed-funds-rate-historical-chart.xlsx')
rate = rate.dropna()
rate.head(5)

        date   value
0 1971-01-01   3.000
1 1971-01-02   3.000
2 1971-01-03   3.000
3 1971-01-04   5.500
4 1971-01-05   5.500

In [126]:
model_demo = df_copy.drop(['LoanNr_ChkDgt', 'Name', 'City', 'Zip', 'CreateJob', 'RetainedJob', 'ChgOffDate', 'BalanceGross',
                           'ChgOffDate_year', 'ChgOffDate_month', 'ChgOffDate_day',  'HousingUnits', 
                           'OccupiedHousingUnits', 'MedianHomeValue', 'MedianHouseholdIncome', 'USDPerJobCreated', 
                           'loan_marturity_date', 'Default%', 'BankLoss', 'BankLoss%', 'Job', 'SBALoss', 'Bank'], axis=1)

In [127]:
model_demo['ApprovalDate'] = model_demo['ApprovalDate'].astype('datetime64')

In [128]:
model_demo

,State,BankState,ApprovalDate,Term,NoEmp,NewExist,IsFranchised,UrbanRural,RevLineCr,LowDoc,...,Bank%,State_division,Is_Cross_State,Appv_Dusburse_delta,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710,DisbursePerMonth
12,NC,MN,2006-02-07,162.000,2.000,0.000,1.000,1,0.000,0.000,...,25.000,South East,1,52.000,0.000,0.000,0.000,0.000,0.000,1896.146
24,AR,MS,2006-02-07,126.000,7.000,1.000,0.000,1,0.000,0.000,...,15.000,South East,1,82.000,0.000,0.000,0.000,0.000,1.000,1320.931
28,CA,SD,2006-02-07,83.000,18.000,0.000,0.000,1,1.000,0.000,...,50.000,West,1,21.000,0.000,0.000,0.000,0.000,0.000,6404.900
30,FL,FL,2006-02-07,84.000,4.000,1.000,0.000,1,1.000,0.000,...,50.000,South East,0,21.000,0.000,0.000,0.000,0.000,0.000,742.338
32,LA,LA,2006-02-07,60.000,3.000,1.000,0.000,1,0.000,0.000,...,15.000,South East,0,113.000,0.000,0.000,0.000,0.000,0.000,1010.181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855582,MO,MO,1997-02-26,240.000,9.000,1.000,0.000,-1,0.000,0.000,...,0.000,Mid-West,0,1085.000,1.000,0.000,0.000,0.000,0.000,1723.132
855584,PA,PA,1997-02-26,12.000,17.000,1.000,0.000,-1,1.000,0.000,...,50.000,Mid-Atlantic,0,1129.000,0.000,0.000,1.000,1.000,0.000,1257.761
855624,LA,LA,1997-02-27,84.000,14.000,0.000,0.000,-1,0.000,1.000,...,20.000,South East,0,1281.000,0.000,0.000,0.000,0.000,0.000,1796.801
855706,PA,PA,1997-02-27,36.000,5.000,1.000,0.000,-1,1.000,0.000,...,50.000,Mid-Atlantic,0,1523.000,0.000,0.000,1.000,1.000,1.000,1257.761
855781,PA,PA,1997-02-27,12.000,2.000,0.000,0.000,-1,1.000,0.000,...,50.000,Mid-Atlantic,0,1342.000,0.000,0.000,1.000,1.000,1.000,10062.087

In [129]:
model_data = pd.merge(model_demo, rate, left_on='ApprovalDate', right_on='date', how='left')
model_data

,State,BankState,ApprovalDate,Term,NoEmp,NewExist,IsFranchised,UrbanRural,RevLineCr,LowDoc,...,Is_Cross_State,Appv_Dusburse_delta,RealEstate,GreatRecession,DotCom,Recession,Mon_Is_14710,DisbursePerMonth,date,value
0,NC,MN,2006-02-07,162.000,2.000,0.000,1.000,1,0.000,0.000,...,1,52.000,0.000,0.000,0.000,0.000,0.000,1896.146,2006-02-07,4.470
1,AR,MS,2006-02-07,126.000,7.000,1.000,0.000,1,0.000,0.000,...,1,82.000,0.000,0.000,0.000,0.000,1.000,1320.931,2006-02-07,4.470
2,CA,SD,2006-02-07,83.000,18.000,0.000,0.000,1,1.000,0.000,...,1,21.000,0.000,0.000,0.000,0.000,0.000,6404.900,2006-02-07,4.470
3,FL,FL,2006-02-07,84.000,4.000,1.000,0.000,1,1.000,0.000,...,0,21.000,0.000,0.000,0.000,0.000,0.000,742.338,2006-02-07,4.470
4,LA,LA,2006-02-07,60.000,3.000,1.000,0.000,1,0.000,0.000,...,0,113.000,0.000,0.000,0.000,0.000,0.000,1010.181,2006-02-07,4.470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530448,MO,MO,1997-02-26,240.000,9.000,1.000,0.000,-1,0.000,0.000,...,0,1085.000,1.000,0.000,0.000,0.000,0.000,1723.132,1997-02-26,5.200
530449,PA,PA,1997-02-26,12.000,17.000,1.000,0.000,-1,1.000,0.000,...,0,1129.000,0.000,0.000,1.000,1.000,0.000,1257.761,1997-02-26,5.200
530450,LA,LA,1997-02-27,84.000,14.000,0.000,0.000,-1,0.000,1.000,...,0,1281.000,0.000,0.000,0.000,0.000,0.000,1796.801,1997-02-27,5.290
530451,PA,PA,1997-02-27,36.000,5.000,1.000,0.000,-1,1.000,0.000,...,0,1523.000,0.000,0.000,1.000,1.000,1.000,1257.761,1997-02-27,5.290
530452,PA,PA,1997-02-27,12.000,2.000,0.000,0.000,-1,1.000,0.000,...,0,1342.000,0.000,0.000,1.000,1.000,1.000,10062.087,1997-02-27,5.290

In [131]:
model_data = model_data.drop(['ChgOffPrinGr', 'GrAppv', 'SBA_Appv', 'DisbursementDate', 'ApprovalDate', 'DisbursementDate_year', 
                              'DisbursementDate_month','DisbursementDate_day', 'ApprovalDate_year', 'ApprovalDate_month', 
                              'ApprovalDate_day', 'Population', 'PopDensity', 'GreatRecession', 'DotCom', 'date', 'BankState'], axis=1)

In [136]:
model_data.rename(columns={' value': 'rate'}, inplace=True)

In [137]:
model_data.columns

Index(['State', 'Term', 'NoEmp', 'NewExist', 'IsFranchised', 'UrbanRural',
       'RevLineCr', 'LowDoc', 'DisbursementGross', 'Default', 'Industry',
       'DisbursePerEmployee', 'Bank%', 'State_division', 'Is_Cross_State',
       'Appv_Dusburse_delta', 'RealEstate', 'Recession', 'Mon_Is_14710',
       'DisbursePerMonth', 'rate'],
      dtype='object')

In [145]:
model_data = model_data[model_data['UrbanRural'] != -1]

In [146]:
model_data

,State,Term,NoEmp,NewExist,IsFranchised,UrbanRural,RevLineCr,LowDoc,DisbursementGross,Default,...,DisbursePerEmployee,Bank%,State_division,Is_Cross_State,Appv_Dusburse_delta,RealEstate,Recession,Mon_Is_14710,DisbursePerMonth,rate
0,NC,162.000,2.000,0.000,1.000,1,0.000,0.000,307175.719,0.000,...,84466.667,25.000,South East,1,52.000,0.000,0.000,0.000,1896.146,4.470
1,AR,126.000,7.000,1.000,0.000,1,0.000,0.000,166437.357,0.000,...,17162.500,15.000,South East,1,82.000,0.000,0.000,1.000,1320.931,4.470
2,CA,83.000,18.000,0.000,0.000,1,1.000,0.000,531606.737,0.000,...,23081.105,50.000,West,1,21.000,0.000,0.000,0.000,6404.900,4.470
3,FL,84.000,4.000,1.000,0.000,1,1.000,0.000,62356.429,0.000,...,10288.000,50.000,South East,0,21.000,0.000,0.000,0.000,742.338,4.470
4,LA,60.000,3.000,1.000,0.000,1,0.000,0.000,60610.836,0.000,...,12500.000,15.000,South East,0,113.000,0.000,0.000,0.000,1010.181,4.470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530371,CO,84.000,2.000,1.000,0.000,0,1.000,0.000,36366.502,0.000,...,10000.000,50.000,South West,1,22.000,0.000,0.000,0.000,432.935,4.510
530372,AZ,29.000,2.000,0.000,0.000,1,-1.000,0.000,206076.844,1.000,...,56666.667,25.000,South West,1,22.000,0.000,0.000,0.000,7106.098,4.510
530373,NV,240.000,20.000,1.000,0.000,1,-1.000,0.000,617018.315,0.000,...,24238.095,0.000,West,0,464.000,1.000,0.000,0.000,2570.910,4.510
530374,AZ,84.000,3.000,1.000,0.000,1,1.000,0.000,18953.009,0.000,...,3908.750,50.000,South West,1,22.000,0.000,0.000,0.000,225.631,4.510
530375,IL,240.000,10.000,1.000,0.000,1,-1.000,0.000,1258280.965,0.000,...,94363.636,0.000,Mid-West,0,65.000,1.000,0.000,1.000,5242.837,4.510

In [147]:
model_data.to_csv('model1.csv', index=False)